/*
 Theme Name:     Zontec Theme
 Theme URI:      https://wordpress.org/themes/wp-bootstrap-starter/
 Description:    A child theme of WPBS Theme
 Author:         Ronnie Stevens
 Author URI:     https://zoo.nl
 Template:       wp-bootstrap-starter
 Version:        1.0
*/


/****************************************
*** Theme customization starts below ***
*****************************************/

@import "compass";
@import "compass/reset";

@import url("../wp-bootstrap-starter/style.css");

.textcenter {
    text-align: center;
}
.img-responsive {
    width: 100%;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    .col-md-4 {
        flex-direction: column;
        flex: 1;
        display: flex;
    }
    .readmore-btn {
        margin-top: auto;
        text-align: center;
    }
}
.section-one .widget_text {
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
img {
        margin-bottom: 1rem;
        width: 100%;
    }
    p {
        text-align: left;
        padding: 0 0.3rem;
        // flex-grow: 1;
    }
    .textwidget{
        display: flex;
        flex-flow: column nowrap;
        p:last-child {
            margin-top: auto;
        }
        a {
            border-radius: 0px;
            color: #707070;
            padding: 0.5rem 1rem;
            display: block;
            text-align: center;
        }
    }
}
figure.w100 img {
    width: 100%;
}
.wp-block-buttons {
    text-align: center;
}
#content.site-content {
    .btn.btn-default, 
    .wp-block-button__link {
        border: solid 1px black;
        background-color: #fecc00;
        border-radius: 0px;
        color: #000;
        margin-top: 1rem;
    }
}
header#masthead {
    padding: 0;
    .navbar {
        .navbar-brand {
            img {
                max-width: 100px;
                margin: 1rem 0;
            }
        }
        #main-nav {
            font-size: 1rem;
            .menu-item {
                padding: 0 0.7rem;
            }
        }
    }
}
#page-sub-header {
    min-height: 500px;
    height: 500px;
}
#bg {
    display: none;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    background-size: cover;
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
    z-index:-100;
}
#content.site-content {
    padding-top: 0;
    padding-bottom: 3rem;
    color: #707070;
    ul {
        list-style: circle;
        padding-left: 2rem;
    }
    a:hover {
        text-decoration: none;
    }
    article {
        padding-bottom: 2rem;
    }
    .meta {
        padding: 1rem 0;
        dd {
            margin-bottom: 0;
        }
    }
    .date {
        margin-top: 1rem;
        font-size: 1.2rem;
        text-align: center;
        font-style: italic;
    }

    .section {
        padding: 2rem 1rem; 
        &#section1 .widget {
            h3 {
                text-align: center;
            }
            img {
                padding-bottom: 1rem;
            }
            p {
                padding: 1.3rem;
                span {
                    padding: 0 1rem;
                    display: block;
                    font-size: 1rem;
                }
            }
        }
    }
    h1, h1.entry-title {
        font-weight: 400;
        font-size: 2.6575rem;
        margin-bottom: 2rem;
        line-height: 1.9;
    }
    h2 {
        font-weight: 400;
    }
    h3 {
        font-weight: 400!important;
    }
    .breadcrumb {
        background-color: transparent;
        padding: 2rem 0;
        color: #9e9e9e;
        font-size: 1rem;
        a, .current {
            color: #9e9e9e;
            padding: 0 0.5rem;
        }
    }
    .thumb {
        img {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
    .wp-block-quote  {
        font-family: 'Kalam', cursive;
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        border: solid 1px #707070;
        margin: 2rem 0;
        background-color: #fff;
    }
}

.post-archive {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .blog-style a.item {
        display: flex;
        flex-flow: column nowrap;
        color: #707070;
        box-shadow: 0px 5px 35px 0px rgba(148,146,245,0.15);
        background: #fff;
        height: 100%;
        .item-content {
            text-align: left;
            padding: 1rem;
        }
        .readmore {
            margin-top: auto;
            border-radius: 0px;
            padding: 0.5rem 1rem;
            display: block;
            text-align: center;
        }

        .post-img img {
            width: 100%;
        }
    }
}
.carousel {
    h3 {
        text-align: center;
        font-size: 2rem;
    }
    .carousel-inner {
        a.carousel-content {
            background-repeat: no-repeat;
            background-position: center right;
            display: block;
        }
        a.carousel-content:hover {
            text-decoration: none;
        }
    }  
}
#section1 {
    margin-top: 2rem;
}
#section2 .content-wrapper {
    background-color: #ffc218;
    width: 50%;
    height: 100%;
    min-height: 360px;
    color: #fff;
    font-size: 1rem;
    #topwrapper {
        max-width: 80%;
        margin-left: 2rem;
        padding-top: 2rem;
    }
    .meta {
        color: #000;
        margin-top: 1rem;
        margin-left: 2rem;
        dt {
            padding-left: 0;
        }
    }
    .readmore {
        margin-bottom: 5px;
        font-size: 1rem;
        margin-top: 0.5rem;
        color: #000;
    }
}
.carousel-control-prev {
    left: 50%!important;
}
#banner {
    width: 100%;
    margin: 0;
    .content-wrapper {
        width: 100%;
        height: 70px;
        text-align: center;
        h4 {
            color: #fff;
            font-size: 3.5rem;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            }
    }
    .carousel-content {
        height: 500px;
        min-height: 500px;
        background-size: cover;
        background-position: center center;

    }
}
.carousel-control-prev, .carousel-control-next {
    width: 5%!important;
}
.wp-block-quote {
    p {
        quotes: "“" "”" "‘" "’";
        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
    }
}
.bordertop {
    border-top: solid 1px #707070;
    margin-top: 3rem;
}
#section3 {
    padding-top: 3rem;
    text-align: center;
    h3 {
        margin-bottom: 1rem;
    }
    .textwidget {
        display: inline-block;
        text-align: center;
        color: #FECC00;
        font-size: 1.2rem;
        padding: 0 3rem;
        border-bottom: 1px solid #707070;
    }
}
#section4 {
    text-align: center;
    .textwidget {
        padding: 1rem 3rem;
        i {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        h4 {
            color: #FECC00;
            font-size: 1.3rem;
            font-weight: 400;
        }
    }

}
.wp-block-group.cta {
    background-color: #9e9e9e;
    padding: 2rem 0;
    color: #fff;
    a {
        color: blue;
    }
}

#footer-widget {
    background-color: #000;
    color: #fff;
    padding: 3rem 0;
    .widget_text {
        text-align: center;
        width: 100%;
    }
    .textwidget {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .footer-logo {
        max-width: 125px;
    }
    a {
        color: #fff;
    }
    .social {
        margin-bottom: 2rem;
        .fab {
            margin: 0 1rem;
            font-size: 1.5rem;
        }
    }
}

.post-type-archive {
    .blog-style {
        margin-bottom: 1rem;
        a {
            color: #707070;
        }
    }
    
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#videobanner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-height: 300px;
    justify-content: center;
    margin-bottom: 2rem;
}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .thumb {
        padding-left: 0;
        
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    body.single-projecten #bg {
        display: block;
    }
    
    .thumb {
            padding-left: 0 !important;
        img {
            padding-top: 12rem;
        }
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    #section2 .content-wrapper {
        background-image: url('/wp-content/themes/zontec/images/backgroundfiller.png');
        background-repeat: no-repeat;
        background-position: center center;
        font-size: 1.2rem;
        min-height: 400px;
        #topwrapper {
            position: absolute;
            top: 3rem;
            left: 2rem;
            max-width: 40%;
            h3 {
                font-size: 3rem;
            }
        }
        .meta {
            color: #000;
            position: absolute;
            bottom: 0;
            left: 1rem;
            margin-top: 2rem;
            max-width: 40%;
        }
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }