@charset "UTF-8";
/*
 Theme Name:     Zontec Theme
 Theme URI:      https://wordpress.org/themes/wp-bootstrap-starter/
 Description:    A child theme of WPBS Theme
 Author:         Ronnie Stevens
 Author URI:     https://zoo.nl
 Template:       wp-bootstrap-starter
 Version:        1.0
*/
/****************************************
*** Theme customization starts below ***
*****************************************/
@import url("../wp-bootstrap-starter/style.css");
/* line 5, ../../../../../../lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 21, sass/style.scss */
.textcenter {
  text-align: center; }

/* line 24, sass/style.scss */
.img-responsive {
  width: 100%; }

/* line 27, sass/style.scss */
.flex-container {
  display: flex;
  flex-wrap: wrap; }
  /* line 30, sass/style.scss */
  .flex-container .col-md-4 {
    flex-direction: column;
    flex: 1;
    display: flex; }
  /* line 35, sass/style.scss */
  .flex-container .readmore-btn {
    margin-top: auto;
    text-align: center; }

/* line 40, sass/style.scss */
.section-one .widget_text {
  padding: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1;
  height: 100%; }
  /* line 50, sass/style.scss */
  .section-one .widget_text img {
    margin-bottom: 1rem;
    width: 100%; }
  /* line 54, sass/style.scss */
  .section-one .widget_text p {
    text-align: left;
    padding: 0 0.3rem; }
  /* line 59, sass/style.scss */
  .section-one .widget_text .textwidget {
    display: flex;
    flex-flow: column nowrap; }
    /* line 62, sass/style.scss */
    .section-one .widget_text .textwidget p:last-child {
      margin-top: auto; }
    /* line 65, sass/style.scss */
    .section-one .widget_text .textwidget a {
      border-radius: 0px;
      color: #707070;
      padding: 0.5rem 1rem;
      display: block;
      text-align: center; }

/* line 74, sass/style.scss */
figure.w100 img {
  width: 100%; }

/* line 77, sass/style.scss */
.wp-block-buttons {
  text-align: center; }

/* line 81, sass/style.scss */
#content.site-content .btn.btn-default,
#content.site-content .wp-block-button__link {
  border: solid 1px black;
  background-color: #fecc00;
  border-radius: 0px;
  color: #000;
  margin-top: 1rem; }

/* line 90, sass/style.scss */
header#masthead {
  padding: 0; }
  /* line 94, sass/style.scss */
  header#masthead .navbar .navbar-brand img {
    max-width: 100px;
    margin: 1rem 0; }
  /* line 99, sass/style.scss */
  header#masthead .navbar #main-nav {
    font-size: 1rem; }
    /* line 101, sass/style.scss */
    header#masthead .navbar #main-nav .menu-item {
      padding: 0 0.7rem; }

/* line 107, sass/style.scss */
#page-sub-header {
  min-height: 500px;
  height: 500px; }

/* line 111, sass/style.scss */
#bg {
  display: none;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background-size: cover;
  opacity: 0.1;
  filter: alpha(opacity=10);
  /* For IE8 and earlier */
  z-index: -100; }

/* line 122, sass/style.scss */
#content.site-content {
  padding-top: 0;
  padding-bottom: 3rem;
  color: #707070; }
  /* line 126, sass/style.scss */
  #content.site-content ul {
    list-style: circle;
    padding-left: 2rem; }
  /* line 130, sass/style.scss */
  #content.site-content a:hover {
    text-decoration: none; }
  /* line 133, sass/style.scss */
  #content.site-content article {
    padding-bottom: 2rem; }
  /* line 136, sass/style.scss */
  #content.site-content .meta {
    padding: 1rem 0; }
    /* line 138, sass/style.scss */
    #content.site-content .meta dd {
      margin-bottom: 0; }
  /* line 142, sass/style.scss */
  #content.site-content .date {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic; }
  /* line 149, sass/style.scss */
  #content.site-content .section {
    padding: 2rem 1rem; }
    /* line 152, sass/style.scss */
    #content.site-content .section#section1 .widget h3 {
      text-align: center; }
    /* line 155, sass/style.scss */
    #content.site-content .section#section1 .widget img {
      padding-bottom: 1rem; }
    /* line 158, sass/style.scss */
    #content.site-content .section#section1 .widget p {
      padding: 1.3rem; }
      /* line 160, sass/style.scss */
      #content.site-content .section#section1 .widget p span {
        padding: 0 1rem;
        display: block;
        font-size: 1rem; }
  /* line 168, sass/style.scss */
  #content.site-content h1, #content.site-content h1.entry-title {
    font-weight: 400;
    font-size: 2.6575rem;
    margin-bottom: 2rem;
    line-height: 1.9; }
  /* line 174, sass/style.scss */
  #content.site-content h2 {
    font-weight: 400; }
  /* line 177, sass/style.scss */
  #content.site-content h3 {
    font-weight: 400 !important; }
  /* line 180, sass/style.scss */
  #content.site-content .breadcrumb {
    background-color: transparent;
    padding: 2rem 0;
    color: #9e9e9e;
    font-size: 1rem; }
    /* line 185, sass/style.scss */
    #content.site-content .breadcrumb a, #content.site-content .breadcrumb .current {
      color: #9e9e9e;
      padding: 0 0.5rem; }
  /* line 191, sass/style.scss */
  #content.site-content .thumb img {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  /* line 196, sass/style.scss */
  #content.site-content .wp-block-quote {
    font-family: 'Kalam', cursive;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    border: solid 1px #707070;
    margin: 2rem 0;
    background-color: #fff; }

/* line 208, sass/style.scss */
.post-archive {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  /* line 212, sass/style.scss */
  .post-archive .blog-style a.item {
    display: flex;
    flex-flow: column nowrap;
    color: #707070;
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    background: #fff;
    height: 100%; }
    /* line 219, sass/style.scss */
    .post-archive .blog-style a.item .item-content {
      text-align: left;
      padding: 1rem; }
    /* line 223, sass/style.scss */
    .post-archive .blog-style a.item .readmore {
      margin-top: auto;
      border-radius: 0px;
      padding: 0.5rem 1rem;
      display: block;
      text-align: center; }
    /* line 231, sass/style.scss */
    .post-archive .blog-style a.item .post-img img {
      width: 100%; }

/* line 237, sass/style.scss */
.carousel h3 {
  text-align: center;
  font-size: 2rem; }
/* line 242, sass/style.scss */
.carousel .carousel-inner a.carousel-content {
  background-repeat: no-repeat;
  background-position: center right;
  display: block; }
/* line 247, sass/style.scss */
.carousel .carousel-inner a.carousel-content:hover {
  text-decoration: none; }

/* line 252, sass/style.scss */
#section1 {
  margin-top: 2rem; }

/* line 255, sass/style.scss */
#section2 .content-wrapper {
  background-color: #ffc218;
  width: 50%;
  height: 100%;
  min-height: 360px;
  color: #fff;
  font-size: 1rem; }
  /* line 262, sass/style.scss */
  #section2 .content-wrapper #topwrapper {
    max-width: 80%;
    margin-left: 2rem;
    padding-top: 2rem; }
  /* line 267, sass/style.scss */
  #section2 .content-wrapper .meta {
    color: #000;
    margin-top: 1rem;
    margin-left: 2rem; }
    /* line 271, sass/style.scss */
    #section2 .content-wrapper .meta dt {
      padding-left: 0; }
  /* line 275, sass/style.scss */
  #section2 .content-wrapper .readmore {
    margin-bottom: 5px;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #000; }

/* line 282, sass/style.scss */
.carousel-control-prev {
  left: 50% !important; }

/* line 285, sass/style.scss */
#banner {
  width: 100%;
  margin: 0; }
  /* line 288, sass/style.scss */
  #banner .content-wrapper {
    width: 100%;
    height: 70px;
    text-align: center; }
    /* line 292, sass/style.scss */
    #banner .content-wrapper h4 {
      color: #fff;
      font-size: 3.5rem;
      text-align: center;
      max-width: 800px;
      margin: 0 auto; }
  /* line 300, sass/style.scss */
  #banner .carousel-content {
    height: 500px;
    min-height: 500px;
    background-size: cover;
    background-position: center center; }

/* line 308, sass/style.scss */
.carousel-control-prev, .carousel-control-next {
  width: 5% !important; }

/* line 312, sass/style.scss */
.wp-block-quote p {
  quotes: "“" "”" "‘" "’"; }
  /* line 314, sass/style.scss */
  .wp-block-quote p:before {
    content: open-quote; }
  /* line 317, sass/style.scss */
  .wp-block-quote p:after {
    content: close-quote; }

/* line 322, sass/style.scss */
.bordertop {
  border-top: solid 1px #707070;
  margin-top: 3rem; }

/* line 326, sass/style.scss */
#section3 {
  padding-top: 3rem;
  text-align: center; }
  /* line 329, sass/style.scss */
  #section3 h3 {
    margin-bottom: 1rem; }
  /* line 332, sass/style.scss */
  #section3 .textwidget {
    display: inline-block;
    text-align: center;
    color: #FECC00;
    font-size: 1.2rem;
    padding: 0 3rem;
    border-bottom: 1px solid #707070; }

/* line 341, sass/style.scss */
#section4 {
  text-align: center; }
  /* line 343, sass/style.scss */
  #section4 .textwidget {
    padding: 1rem 3rem; }
    /* line 345, sass/style.scss */
    #section4 .textwidget i {
      font-size: 3rem;
      margin-bottom: 1rem; }
    /* line 349, sass/style.scss */
    #section4 .textwidget h4 {
      color: #FECC00;
      font-size: 1.3rem;
      font-weight: 400; }

/* line 357, sass/style.scss */
.wp-block-group.cta {
  background-color: #9e9e9e;
  padding: 2rem 0;
  color: #fff; }
  /* line 361, sass/style.scss */
  .wp-block-group.cta a {
    color: blue; }

/* line 366, sass/style.scss */
#footer-widget {
  background-color: #000;
  color: #fff;
  padding: 3rem 0; }
  /* line 370, sass/style.scss */
  #footer-widget .widget_text {
    text-align: center;
    width: 100%; }
  /* line 374, sass/style.scss */
  #footer-widget .textwidget {
    padding-left: 3rem;
    padding-right: 3rem; }
  /* line 378, sass/style.scss */
  #footer-widget .footer-logo {
    max-width: 125px; }
  /* line 381, sass/style.scss */
  #footer-widget a {
    color: #fff; }
  /* line 384, sass/style.scss */
  #footer-widget .social {
    margin-bottom: 2rem; }
    /* line 386, sass/style.scss */
    #footer-widget .social .fab {
      margin: 0 1rem;
      font-size: 1.5rem; }

/* line 394, sass/style.scss */
.post-type-archive .blog-style {
  margin-bottom: 1rem; }
  /* line 396, sass/style.scss */
  .post-type-archive .blog-style a {
    color: #707070; }

/* line 402, sass/style.scss */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

/* line 407, sass/style.scss */
#videobanner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  max-height: 300px;
  justify-content: center;
  margin-bottom: 2rem; }

@media (min-width: 576px) {
  /* line 422, sass/style.scss */
  .thumb {
    padding-left: 0; } }
@media (min-width: 768px) {
  /* line 430, sass/style.scss */
  body.single-projecten #bg {
    display: block; }

  /* line 434, sass/style.scss */
  .thumb {
    padding-left: 0 !important; }
    /* line 436, sass/style.scss */
    .thumb img {
      padding-top: 12rem; } }
@media (min-width: 992px) {
  /* line 444, sass/style.scss */
  #section2 .content-wrapper {
    background-image: url("/wp-content/themes/zontec/images/backgroundfiller.png");
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 1.2rem;
    min-height: 400px; }
    /* line 450, sass/style.scss */
    #section2 .content-wrapper #topwrapper {
      position: absolute;
      top: 3rem;
      left: 2rem;
      max-width: 40%; }
      /* line 455, sass/style.scss */
      #section2 .content-wrapper #topwrapper h3 {
        font-size: 3rem; }
    /* line 459, sass/style.scss */
    #section2 .content-wrapper .meta {
      color: #000;
      position: absolute;
      bottom: 0;
      left: 1rem;
      margin-top: 2rem;
      max-width: 40%; } }
